body {background: url("https://media.gettyimages.com/videos/abstract-light-blue-backgroundsloop-video-id1216013281?s=640x640");}
body {background-size: cover;}
a {color:navy; font-size: 20px;}
body {
  margin:0;
}
  
  .leftnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #000000;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .leftnav li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .leftnav li a:active {
    background-color: #1e008a;
  			color: white;
  }

  .leftnav li .active {
    background-color: rgb(238, 255, 0);
    color: black;
  }
  
  .leftnav li a:hover a:active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

fieldset {
        border: 1.5px solid rgb(0,0,0);
        }